.app-component-booking-detail-card {
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0 0 50px 0 #e2e2e2;
  border: solid 1px #f8f7f7;
  background-color: #fff;
  padding: 30px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(to top, #ff4631 89%, #ff6431 -5%);
  }
}
.app-component-booking-detail-actions {
  padding: 0 15px;
  // ul {
  //   display: flex;
  //   align-items: center;
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   li {
  //     &:not(:last-child) {
  //       margin-right: 10px;
  //     }
  //     width: calc(50% - 5px);
  //   }
  // }
  h4 {
    font-size: 15px;
    font-weight: 500;
    color: #28303f;
    margin: 0;
  }
}
.booking-detail-calander {
  position: relative;
  .DatePicker {
    border: solid 1px;
    border-color: #ededed !important;
    border-radius: 28px;
    padding: 10px;
    width: 100%;
    input {
      background-color: #fff;
      width: 85%;
      color: #28303f;
      font-size: 14px;
    }
  }
  .MuiInputBase-root {
    background-color: #fff;
    .MuiOutlinedInput-notchedOutline {
      border-color: #ededed !important;
      border-radius: 28px;
    }
    .MuiInputBase-input {
      padding: 10px 40px 10px 20px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      color: #28303f;
      &::placeholder {
        color: #28303f;
        opacity: 1;
      }
    }
  }
}
.booking-detail-guest-select {
  position: relative;
}
.booking-detail-guest-select-button {
  &.MuiButtonBase-root {
    border: 1px solid #ededed;
    border-radius: 28px;
    padding: 10px 20px 10px 40px;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #28303f;
    text-transform: capitalize;
  }
}
.booking-detail-guest-icon-down {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.booking-detail-guest-icon {
  position: absolute;
  top: 16px;
  left: 13px;
  width: 20px;
}
.booking-detail-calander-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 15px;
}
.app-component-booking-detail-heading {
  padding: 0 15px;
  h4 {
    font-size: 20px;
    font-weight: bold;
    color: #28303f;
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #5c6066;
    margin: 8px 0 0 0;
  }
}
.app-component-booking-detail-actions {
  margin-top: 20px;
}
.booking-detail-apply-coupon {
  display: flex;
  width: 100%;
  margin: 20px 0;
  .MuiButtonBase-root {
    width: 100%;
    padding: 8px 15px;
    border-radius: 0;
    background-color: #f8f7f7;
    justify-content: space-between;
  }
}
.booking-detail-apply-coupon-content {
  display: flex;
  align-items: center;
  img {
    width: 18px;
    margin-right: 10px;
  }
  span {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #28303f;
    text-transform: capitalize;
  }
}
.apply-coupon-arrow {
  width: 18px;
}
.booking-price-details-heading {
  font-size: 20px;
  font-weight: bold;
  color: #28303f;
  margin: 0;
  padding: 0 15px;
  margin-top: 20px;
}
.booking-price-details-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  .booking-price-details-list-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: #5c6066;
      margin: 0;
      width: fit-content;
      img {
        width: 16px;
        margin-left: 10px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      color: #28303f;
    }
    &.booking-price-details-list-item-total {
      background-color: #f8f7f7;
      padding: 8px 15px;
      span {
        font-weight: bold;
      }
    }
  }
}
.popover-text {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  color: #28303f;
  padding: 5px 10px;
}
.booking-price-details-conditions {
  margin-top: 10px;
  padding: 0 15px;
  ul {
    padding: 0 0 0 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    li {
      padding: 6px 0;
      font-size: 14px;
      font-weight: 500;
      color: #5c6066;
      a {
        color: #ff6431;
      }
    }
  }
}
.booking-price-details-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -50px;
}

.booking-price-payment-button {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: -50px;
}
.booking-detail-applied-coupon {
  display: flex;
  align-items: center;
  padding: 15px;
  border: solid 1px #f8f7f7;
  background-color: #f8f7f7;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
  h5 {
    font-size: 12px;
    font-weight: 500;
    color: #5c6066;
    margin: 0;
    span {
      font-weight: bold;
      color: #28303f;
    }
  }
  p {
    font-size: 12px;
    font-weight: 500;
    color: #5c6066;
    margin: 5px 0 0 0;
    span {
      font-weight: normal;
      color: #ff6431;
    }
  }
  .MuiButtonBase-root {
    img {
      width: 18px;
    }
  }
}
.app-component-booking-detail-resume-heading {
  padding: 0 15px;
  h4 {
    font-size: 20px;
    font-weight: bold;
    color: #28303f;
    margin: 0;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: #5c6066;
    margin: 8px 0 0 0;
  }
}
